@{
  Layout = "_Layout";
}

@model Library.Models.Catalog

<h2>Edit</h2>

<h4>Edit this catalog: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CatalogId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to catalogs", "Index")</p>